<!-- Overlay -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black bg-opacity-60 z-40"
  (click)="closeSidebar()"
></div>

<!-- Sidebar -->
<div
  class="fixed top-0 right-0 h-full bg-white shadow-lg transform transition-transform duration-300 ease-in-out z-50"
  [style.width]="sidebarWidth"
  [class.translate-x-full]="!isOpen"
>
  <div class="h-full overflow-y-auto p-6">
    <button class="text-red-500 font-bold text-lg" (click)="closeSidebar()">
      Close
    </button>

    <div *ngIf="artist">
      <div class="my-6">
        <img
          [src]="artist.image_url || '/assets/MRNEOKIZ_2023.png'"
          [alt]="artist.name"
          class="w-50 aspect-[4/3] object-cover rounded-lg shadow"
          (error)="artist.image_url = '/assets/default-image.png'"
        />
      </div>

      <button
        class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-4 px-8 rounded-xl shadow-lg transition-all duration-300 mb-6 text-lg"
        (click)="openModal()"
      >
        Support {{ artist.name }}
      </button>

      <!-- Modal -->
      <app-modal
        *ngIf="isModalOpen"
        [isOpen]="isModalOpen"
        [artist]="artist"
        (isOpenChange)="isModalOpen = $event"
        (purchaseCompleted)="refreshSupporters()"
      >
        <div class="p-6">
          <h2 class="text-2xl font-bold">Support {{ artist?.name }}</h2>
          <p>Support this artist with Hip-Hop Stars!</p>
          <button
            class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md mt-4"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </app-modal>

      <h2 class="text-3xl font-bold mt-2">{{ artist.name }}</h2>
      <p class="text-gray-600">⭐ Total Stars: {{ artist.totalStars }}</p>

      <div *ngIf="recentSupporters.length > 0; else noSupporters">
        <h3 class="text-lg font-bold my-2">Recent Supporters</h3>
        <div
          *ngFor="let supporter of recentSupporters"
          class="flex items-center justify-between p-4 bg-gray-100 rounded-lg mb-2 shadow-md"
        >
          <div>
            <p class="text-md font-semibold">
              {{ supporter.supporterName || "Someone" }}
            </p>
            <p class="text-md text-gray-600">
              {{ supporter.message || "No message" }}
            </p>
          </div>
          <div>
            <span class="text-2xl font-bold text-orange-500">
              ⭐ {{ supporter.starsPurchased }}
            </span>
          </div>
        </div>
      </div>

      <ng-template #noSupporters>
        <p class="text-gray-600 text-sm italic my-2">
          No recent supporters yet.
        </p>
      </ng-template>
    </div>
  </div>
</div>
